body {
font-size:0.9em;
margin:0px;
}
fieldset {
 border:none;
}


/* content area */
.content {
	width:85vw;
	/*height:100vh;*/
	margin-left: 15vw;
	background-color:#eee;
}

.ElCaption {
	font-size: 1.5em;
}

.twoOp {
  visibility: collapse;
}

.structureTab fieldset {

}
.structureTab th {
	text-align: left;
	vertical-align: top;
}
.structureTab legend {
	background-color:#eee;
	padding:1em;
	padding-top:0.2em;
	padding-bottom:0.2em;
	width:90%;
	font-size: 1.5em;
}
.structureTab td {
  vertical-align: top;
}
.selectdropdown {
      height: 200px;
    }
.fscontent {
	margin:1.5em;
}
.footnote {
	font-size: 0.7em;
}
.error {
  color:red;
}


.classTrue {
  background-color:#b5ffbc;
  text-align: center;
  border:1px solid white;
}
.classFalse {
  background-color: #ffb4b4;
  text-align: center;
  border:1px solid white;
}
.minorClass {
  font-size: 0.8em;
}
.majorClass {
  font-weight: bold;
}
#twoOpClass {
  padding:13px;
}

.exprTable td, .exprTable table {
  padding:0px;
  border-collapse: collapse;
}


.cayley
{
	margin:0 auto;
	border-collapse:collapse;
}

.cayley td {
	border-collapse:collapse;
	border:1px solid #ccc;
	padding:5px;
	text-align: center;
	vertical-align:center;
}

.cayley th {
	background-color:#ccc;
	padding:8px;
	vertical-align: center;
	text-align: center;
	border:1px solid white;
}
.cayley td:hover {
  background-color:lightyellow;
}
.cayley th:hover {
  background-color:grey;
}
.cayley .draggable {
  cursor: pointer;
}
.noElement {
	background-color: #ffdddd;
	}

.tooltip .ok {
  color:green;
}
.tooltip .notok {
  color:red;
}
.tooltip {
  position:absolute;
  /*margin-top:-60px;
  margin-left:-50px;*/
  visibility: hidden;
  border:1px solid slategrey;
  padding:0px;
  margin-top:-60px;
  background-color:white;
  opacity: 0;
  transition: opacity 1s;
  font-size: 0.8em;
  pointer-events:none;
  border-radius: 3px;
  box-shadow: 0px 0px 5px grey;
}
 .tooltip::after {
   content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
  pointer-events:none;
}
.tooltip th {
  background-color: white;
  padding:0px;
  text-align: right;
}
.tooltip td {
  border:none;
  padding:2px;
  text-align: center;
  vertical-align: middle;
}
.tooltip em {
  font-size: 1.2em;
}
.cayley td:hover .tooltip {
  visibility: visible;
  opacity: 1;

}



/* left bar navigation */
.navi {
	width:15vw;
	height:100vh;
	float:left;
	border-right:#ddd solid 1px;
}

.logo {
	margin-bottom: 50px;
}

.content {
	position:absolute;
	left:0px;
	top:0px;
}
.content #mainStructureTab {
	height:90vh;
}

.controls {
	text-align: center;
}

#structSelection {
	outline:none;
	width:15vw;
	border:none;
	overflow:auto;
}

#structSelection option {
	padding:20px;
	padding-top:12px;
	padding-bottom: 12px;
	font-size: 18px;
}

.structureSelection {
	margin-top:20px;
}



/* about section */
#about h1, #about h5{
	text-align:center;
}
#about ul, #about li {
 list-style-type: none;
}
#about th {
	text-align: left;
	vertical-align: top;
}
#about td{
	padding-left:10px;
}
#aboutButton {
	position:fixed;
	top:95vh;
	left:1vh;
}
